@page "/restaurants/details"
@using Microsoft.EntityFrameworkCore
@using Feedora_revised.Domain
@inject IDbContextFactory<Feedora_revised.Data.Feedora_revisedContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Restaurant</h2>
    <hr />
    @if (restaurant is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@restaurant.Name</dd>
            <dt class="col-sm-2">Password</dt>
            <dd class="col-sm-10">@restaurant.Password</dd>
            <dt class="col-sm-2">PhoneNum</dt>
            <dd class="col-sm-10">@restaurant.PhoneNum</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@restaurant.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@restaurant.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@restaurant.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@restaurant.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/restaurants/edit?id={restaurant.Id}")">Edit</a> |
            <a href="@($"/restaurants")">Back to List</a>
        </div>
    }
</div>

@code {
    private Restaurant? restaurant;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        restaurant = await context.Restaurant.FirstOrDefaultAsync(m => m.Id == Id);

        if (restaurant is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
